 Print the first 5 positive integers in ascending order with one number

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

Print the following pattern

In [3]:
for i in range(0,6):
    for j in range(i):
        print('*',end='')
    print('')

*
**
***
****
*****

Accept an integer as input and print its square as output.

In [6]:
a=int(input('enter a number'))
print(a*a)

enter a number 3

9

4.Accept two integers as input and print their sum as output.

In [7]:
n=int(input('enter a num1'))
m=int(input('enter a num1'))
print(n+m)

enter a num1 2
enter a num1 3

5

Accept two words as input and print the two words after adding a 
space between them

. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [10]:
n=input()
print(n[0:2])

 KA1089

KA

.Accept a five-digit number as input and print the sum of its digits as 
output.

In [15]:
num=input('5 digt number')
a1=int(num[0])
a2=int(num[1])
a3=int(num[2])
a4=int(num[3])
a5=int(num[4])
print(a1+a2+a3+a4+a5)

5 digt number 12345

15

In [ ]:
num=input('5 digt number')
a=0
for i in num:
    a=i+1

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [8]:
word1=input()
word2=input()
word3=input()
word4=input()
word4=input()
word5=input()
word6='.'
d=word1 + word2 + word3  + word4 + word5 + word6
print(d)

 ee
 ee
 eee
 dd
 ff
 ff

eeeeeeeffff.

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

date=input('enter a date as DD-MM-YYYY')
print(date[7:11])

In [18]:
date=input('enter a date as DD-MM-YYYY') 
print(date[6:11])

enter a date as DD-MM-YYYY 12-06-1988

1988

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [4]:
n=[1,2,3,4,5]
a=1
for i in n:
    #if i != ',':
        a=a*i
        
print(a)

120

11. Accept two positive integers x and y as input. Print the number of 
digits in xy

In [25]:
x=int(input())
y=int(input())
r=x**y
s=str(r)
print(s)
print(len(s))

 2
 3

8
1

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [7]:
s=input()
n=len(s)
if n%2==0:
    if s[n-1]=='.':
        s=s[:-1]
    else:
        s=s+'.'
n=int((len(s)-1)/2)
print(s[n-1:n+2])

 dad.

dad

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [35]:
x=int(input())
y=int(input())
z=int(input())
if ((x**2+y**2==z**2) or
   (x**2+z**2==x**2) or 
   (z**2+y**2==x**2)):
    print('yes')
else:
    print('no')

 2
 4
 5

no

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [38]:
e1=int(input())
e2=int(input())
e3= int(input())
e4=int(input())
e5=int(input())
if(( (e1+e2) % 2 == 0) and
   ((e2+e3) % 2 == 0) and 
   ((e3+e4) % 2 == 0) and 
   ((e4+e5) % 2 == 0)):
   print('yes')
else:
   print('no')

 1
 2
 3
 4
 5

no

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [39]:
s=input()
new=list(s)
print(s)
v=['a','e','i','o','u']
l=[]
for i in new:
    if i in v:
        l.append(i)
print(l)

 ravi

ravi
['a', 'i']

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [46]:
name1=input('Enter a first name')
d1=input('edob')
name2=input('Enter a second name')
d2=input('dob')
if d1==d2:
    if name1<name2:
        print(name1)
    else:
        print(name2)
elif d1[-4:]!=d2[-4:]:
        
        if (d1[-4:]<d2[-4:]):
            
            print(name1)
        else:
            print(name2)
            
elif d1[3:5]!=d2[3:5]:
        if d1[3:5]<d2[3:5]:
            print(name1)
        else:
            print(name2)
else:
    if d1[0:3]!=d2[0:3]:
        if d1[0:3]<d2[0:3]:
            print(name1)
        else:
            print(name2)

Enter a first name sara
edob 22-08-1988
Enter a second name buv
dob 22-06-1988

buv

In [48]:
name1=input('Enter a first name')
d1=input('edob')
name2=input('Enter a second name')
d2=input('dob')
if d1==d2:
    if name1<name2:
        print(name1)
    else:
        print(name2)
elif d1[-4:]!=d2[-4:]:
        
        if (d1[-4:]<d2[-4:]):
            
            print(name2)
        else:
            print(name1)
            
elif d1[3:5]!=d2[3:5]:
        if d1[3:5]<d2[3:5]:
            print(name2)
        else:
            print(name1)
else:
    if d1[0:3]!=d2[0:3]:
        if d1[0:3]<d2[0:3]:
            print(name2)
        else:
            print(name1)

Enter a first name akhshita
edob 14-05-2009
Enter a second name manvit
dob 22-09-2014

manvit

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [14]:
p=input('enter ur password')
if 8 <= len(p) <= 32 and p[0].isalpha() and '/' not in p  and  '=' not in p  :
    print('true')
else :
    print('false')

enter ur password ddggh%

false

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [54]:
n=int(input())
for i in range (1,n+1):
    print(i)

 3

1
2
3

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [16]:
n=int(input())
isprime=True
if n==1:
    isprime=False
else:
    if n%2==0:
        isprime=False
    else:
        for i in range(2,n):
            if n%i!= 0:
                isprime=True
            else:
                isprime=False
print(isprime)

 4

False

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [18]:
s1=input()
s2=input()
for i in s1:
    if i in s2:
        s2=s2.replace(i,'')
print(s2)

 venki
 anusha

ausha

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [20]:
n=input()
a=False
if len(n)==10 and int(n[0])>5 and n.isdigit():
    for i in range(10):
        if n.count(n[i])<8:
            a=True
            if n[i]*6 in n:
                a=False
                break
        else:
                break
if a:
    print('valid')
else:
    print('Invalid')

 9880572817

valid

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [23]:
s=input().split(' ')
a=input()
if a in s:
    print('yes')
    
    print(s.count(a))
else:
    print('No')

 ddd ddd dd ggg
 ddd

yes
2

In [ ]:
my name is Anusha ,Anusha studied MBA and Anusha learning python.