In [87]:
print('hello')

hello

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [16]:
def factorial(n):
    if n<0:
        return -1
    elif n==0:
        return 1
    else:
        f=1
        for i in range(2,n+1):
            f=i*f
            return f

In [17]:
factorial(6)

2

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [32]:
def get_max(L):
    maxi=L[0]
    for x in L:
        if x > maxi:
            maxi=x
    return maxi
def get_min(L):
    mini=L[0]
    for x in L:
        if x < mini:
            mini = x
    return mini
def get_range(L):
    maxi=get_max(L)
    mini=get_min(L)
    return maxi - mini

In [33]:
get_range([2,5,77,8,90])

88

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [25]:
s= str(input())
if s[0] != 'D' and s[1] != 'S':
    print('False')
else:
    print('True')

 DS1007

True

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [26]:
s=str(input())
if s[-4:]=='TN07' or s[0:4]=='TN07':
    print('True')
else:
    print('False')

 AA00TN07

True

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [27]:
s=str(input('Enter string :'))
a=int(input('enter start'))
b=int(input('enter end'))
x=s[a:b+1]
y=len(s)
ans=""
while(y>=len(ans)):
    ans+=x
print(ans)

Enter string : code
enter start 2
enter end 3

dedede

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [35]:
n=int(input())
for i in range(1,n+1,4):
    if n==i:
        print('Sapphire')
for j in range(2,n+1,4):
     if n==j:
    
        print('Peridot')
for q in range(3,n+1,4):
     if n==q:
        print('Ruby')
for l in range(4,n+1,4):
     if l==i:
        print('Emrald')

 3

Ruby

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [ ]:
a=float(input())
b=float(input())

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [36]:
s=input()
if s==s[::-1]:
    print('ITS PALINDROME')
else:
    print('ITS NOT PALINDROME')

 mam

ITS PALINDROME

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [13]:
def get_password_strength(username,password):
    c=0
    capital='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    c_flag=False
    small='abcdefghijklmnopqrstuvwxyz'
    s_flag=False
    num='0123456789'
    n_flag=False
    nc_flag=True
    if username in password:
        print('Password should not contain username')
        return
    if len(password)>7:
        c=c+1
    for i in range(len(password)):
        if password[i] in small:
            s_flag=True
        elif password[i] in capital:
            c_flag=True
        elif password[i] in num:
            n_flag=True
        if n_flag:
            if i!=(len(password)-1):
                if num[((num.index(password[i]))+1)] ==password[i+1]:
                        nc_flag=False
        if c_flag and s_flag:
            c+=1
                        
        if n_flag and nc_flag:
            c+=1
                        
        if not password.isalnum():
            c+=1
        if c==4:
            
                        print('Verystrong')
                        return
        if c==3:
            
                        print('Strong')
                        return
        if c==2:
                        print('Moderate')
                        return
        if c==1:
                        print('Weak')
                        return
            
        if c==0:
                        print('Use a different Password')
                        return

In [19]:
get_password_strength('anusha','147@nc6A')

Strong

33.decorator that logs the date and time

In [4]:
from datetime import datetime

def log_datetime(func):
    
    def wrapper():
        print(f'function:{func.__name__} \nRun on {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
    return wrapper
              
@log_datetime
def daily_backup():
              print("Daily backup job has finished")

In [5]:
daily_backup()

function:daily_backup
Run on 2022-11-26 10:06:35
------------------------------
Daily backup job has finished

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [7]:
l=list()
n=int(input())
odd_list=list()
for i in range(n):
    temp=int(input('Input:'))
    l.append(temp)
for i in l:
    if l.count(i)%2!=0:
        if i not in odd_list:
            odd_list.append(i)
print(odd_list)

 2
Input: 1
Input: 3

[1, 3]

In [12]:
def hello():
    return 'hello world'

In [13]:
hello()

'hello world'

In [25]:
def lowercase_dec(function):
    def wrapper():
        func=function()
        string_lowercase=func.lower()
        return string_lowercase
    return wrapper
def splitter_dec(function):
    def wrapper():
        func=function()
        string_split=func.split()
        return string_split
    return wrapper

In [26]:
@splitter_dec
@lowercase_dec
def hello():
    return 'hello world'

In [27]:
hello()

['hello', 'world']

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [24]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
number_list=[x for x in number_list if x <= 50]
print(number_list)

[10, 20, 30, 40, 50]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [31]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
l=list()
for i in sample_list:
    if sample_list.count(i) > 1:
        
        l.append(i)
print(set(l))

{20, 60, 30}

In [35]:
import collections
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]

duplicates=[]

for item,count in collections.Counter(sample_list).items():
    if count>1:
        duplicates.append(item)
print(duplicates)

[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [40]:
def test(a,b):
    def test1(a,b):
        c=a+b
        return c
    return test1(a,b)+' developer'

In [41]:
r=test('Anusha','puvvala')
print(r)

Anushapuvvala developer

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [42]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1]=3500

print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [43]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}
emp_dict["company"]["employee"]["payable"]["increment"]

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [45]:
sum=0
pre=0
for i in range(0,10):
    sum=pre+i
    pre=i
    print(f'Current Number {i} Previous Number {pre} Sum: {sum}')

Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 1 Sum: 1
Current Number 2 Previous Number 2 Sum: 3
Current Number 3 Previous Number 3 Sum: 5
Current Number 4 Previous Number 4 Sum: 7
Current Number 5 Previous Number 5 Sum: 9
Current Number 6 Previous Number 6 Sum: 11
Current Number 7 Previous Number 7 Sum: 13
Current Number 8 Previous Number 8 Sum: 15
Current Number 9 Previous Number 9 Sum: 17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [52]:
s=input()
for i in range(len(s)):
    if i%2==0:
        print(s[i],end="")

 anusha

auh

In [ ]:
44.

In [54]:
for i in range(1,11):
    for j in range(1,11):
        c=i*j
        print(f'{c}',end=" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [85]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
unique_num=[]
m=min(sample_list)
n=max(sample_list)
for item,count in collections.Counter(sample_list).items():
    if count==1:
        unique_num.append(item)
print(unique_num)
print(tuple(unique_num))
print(m)
print(n)

[87, 45, 65, 99]
(87, 45, 65, 99)
41
99

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [66]:
add=lambda x:x+15
print('Addition',add(2))
mul=lambda x,y:x*y
print('mul',mul(2,3))

Addition 17
mul 6

46. Write a Python program to sort a list of tuples using Lambda.

In [67]:
sortlist=lambda x:sorted(x)
l=[(3,'j'),(44,'g'),(2,'k')]
sortlist(l)

[(2, 'k'), (3, 'j'), (44, 'g')]

47. Write a Python program to extract year, month, date and time using Lambda.

In [70]:
import datetime
now=datetime.datetime.now()
print(now)
year=lambda x:x.year
month=lambda x:x.month
day=lambda x:x.day
t=lambda x:x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2022-11-26 11:53:38.554839
2022
11
26
11:53:38.554839

In [69]:
sol=lambda a,b,c:b**2-(4*a*c)
print(sol(2,3,4))

-23

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [74]:
l=[1,3,4,5,6,7,8,9]
even=len(list(filter(lambda x:x%2==0,l)))
odd=len(list(filter(lambda x:x%2!=0,l)))
print('no of even no:',even)
print('no of odd no:',odd)

no of even no: 3
no of odd no: 5

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [ ]:
def

50.  Write a Python program to square the elements of a list using map() function.

In [78]:
l=(1,2,3,4)
sq=map((lambda x:x**2),l)
print(list(sq))

[1, 4, 9, 16]

In [79]:
def test(s):
    return str(s).upper(),str(s).lower()
chars=['a','g','r','d']
re=map(test,chars)

In [81]:
print(list(re))

[('A', 'a'), ('G', 'g'), ('R', 'r'), ('D', 'd')]