Task1

s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding .

In [2]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [5]:
s[0:300:3]

'tssyityopgmncsa alrNph rgni ni'

In [6]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [3]:
s1=s.upper()
s.split(s1)

['this is My First Python programming class and i am learNING python string and its function']

In [4]:
s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [5]:
s1.lower()

'this is my first python programming class and i am learning python string and its function'

In [7]:
s1.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [9]:
s2='fgthu78'
s2.isalnum()

True

In [10]:
s2='fgthu78'
s2.isalpha()

False

In [25]:
s="      ineuron    "
s.expandtabs(17)

'      ineuron    '

In [26]:
s.strip()

'ineuron'

In [27]:
s.lstrip()

'ineuron    '

In [28]:
s.rstrip()

'      ineuron'

In [31]:
name="Anusha puvvala"
name.replace('Anusha','Venkatesh')

'Venkatesh puvvala'

In [30]:
s1.center(100,'@')

'@@@@@THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION@@@@@'

Compiler: it is a program that translates the code written by person into a language recoginised by computer.
    it translate the whole code at once. The code execution is fast as compared to interpreter.
Interpreter: it is also a program that translates the code written by person in a language recoginised by computer,
    but the difference is that it translates the each code line one by one, hence the code execution is slow, but 
    advantage is that it stops at that line where code is incorrect.Python is compiled and interpreted language.

Task2

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [33]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [34]:
l[7][0]

234

In [25]:
l[5][1]

456

In [35]:
s=[]
for i in range(len(l)):
    if type(l[i])==list:
        s.append(l[i])

In [28]:
s

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [36]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
list(l[8].values())[0]

'sudh'

In [38]:
list(l[8].keys())

['key1', 234]

In [37]:
list(l[8].values())

['sudh', [23, 45, 656]]

Task3

q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [38]:
for i in range(5):
    for j in range(i):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [43]:
name=int(input('Enter a number of rows to be a print'))
print()
for i in range(name):
    print('ineuron'*(i+1))

Enter a number of rows to be a print 6

ineuron
ineuronineuron
ineuronineuronineuron
ineuronineuronineuronineuron
ineuronineuronineuronineuronineuron
ineuronineuronineuronineuronineuronineuron

         ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [3]:
for i in range(5):
    for j in range(i):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [20]:
for i in range(6):
    if i<=3:
            n=i
    else:
            n=6-i
    print(("ineuron "*n).center(30,' '))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
       ineuron ineuron
           ineuron


l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 : Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [58]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [29]:

for i in l:
    if type (i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [30]:
for i in l:
    if type (i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [31]:
for i in l:
    if type (i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [35]:
l1=[]
for i in l:
    if type (i) == list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l1.append(g)

In [36]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [37]:
sum=0
for i in l1:
    sum=sum+i
print(sum)

156

In [38]:
for i in l1:
    if i%2!=0:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [46]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [41]:
l1=[]
for i in l:
    if type (i) == list or type(i)==tuple or type(i)==set:
        for j in i:
            if j == 'ineuron':
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if g =='ineuron':
                    l1.append(g)

In [42]:
l1

['ineuron', 'ineuron']

In [63]:
l2=[]
for i in l:
    if type (i) == list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int or type(j)==str :
                
                l2.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int or type(g)==str:
                    
                    l2.append(g)

In [64]:
l2

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [65]:
for i in set(l2):
    print(i, ':' ,l2.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
ineuron : 2
8 : 1
data science  : 1
45 : 1
sudh : 1
k2 : 1
kumar : 1
23 : 1
k3 : 1
k1 : 1

In [61]:
for i in l :
    if type(i) == dict :
        print(len(i))

5

In [66]:
for i in l2 :
    if type(i) == str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [69]:
for i in l2 :
    if type(i) == str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [71]:
j=1
for i in l2 :
    if type(i) == int:
        j=i*j
print(j)

908605071360000

In [75]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [79]:
for i in l:
    m=1
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                m=m*j
        print(type(i) , m)       
    if type(i)==dict:
        for k in i.items():
            for n in k:
                
                if type(k)==int:
                    
                    m=m*n
        print(type(i) ,m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1
<class 'list'> 1