Q1. Find the largest number from the given list, use for loop.

numbers = [12, 75, 150, 180, 145, 525, 50]

In [9]:
a = [12, 75, 150, 180, 145, 525, 50]
for i in a:
    if i== 525:
        print(f'525 is largest')
        break

525 is largest

Q2.Print all the even number between (1, 12).

In [15]:
for i in range(2,13,2):
    print(f' {i}')

 2
 4
 6
 8
 10
 12

Q3. Calculate the sum of all numbers from 1 to a given number

In [17]:
num=int(input('enter a number'))
sum=0
for i in range(1,num+1):
    sum=i+sum
print(f'The sum of all given numbers are {sum}')

enter a number 1000

The sum of all given numbers are 500500

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

In [28]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i>500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

75
150
145

Q5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [32]:
list1 = [10, 20, 30, 40, 50]
n=len(list1)-1
for i in range(n,-1,-1):
    print(list1[i])

50
40
30
20
10

In [35]:
list1 = [10, 20, 30, 40, 50]
list2=reversed(list1) #using inbuilt reversed function to reverse the list
for i in list2:
    print(i)

50
40
30
15
20
10